body {
    height: 4000px;
    background-color: antiquewhite;
  }
  .yukari_cik {
    display: none;
    height: 80px;
    width: 80px;
    border-radius: 40px;
    background-color: red;
    color: white;
    font-size: 30px;
    line-height: 80px;
    text-align: center;
    position: fixed;
    bottom: 15px;
    right: 15px;
  }
  .yukari_cik:hover {
    cursor: pointer;
    background-color: purple;
  }
  .goster {
    display: block;
  }
  